#pokemon-stats{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;

    #description{

        display: flex;
        flex-direction: column;
        margin: 18px;
        text-align: center;

        .stats{
            padding: 50px;
            border-radius: 50%;
            h2{
                color: #fff;
                font-family: 'Ubuntu Mono', monospace;
                font-size: 32px;
            }
        }
        p{
            color: #333;
            font-family: 'Ubuntu Mono', monospace;
            font-size: 18px;

            margin-top: 5px;
        }
    }
}