#show-component {

    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        font-family:'Ubuntu Mono', monospace;
        padding-top: 10px;
    }

    .header{

        display: flex;
        flex-direction: column;
       
        height: 280px;
        width: 100%;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #5885BF;
        
        h1{
            font-family: 'Ubuntu Mono', monospace;
            color: white;
            text-transform: uppercase;
        }
        #poke-image{

            display: flex;
            flex-direction: row;
            justify-content: center;
        
            img{
                width: 200px;
            }
        }
        .poke-info{

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;

            p{
                color: white;
                font-family: 'Ubuntu Mono', monospace;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
    .info-stats{

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px;

        p{
            border-radius: 5px;
            color: white;
            padding: 10px 20px;
            margin: 5px;
            text-align: center;
            text-transform: uppercase;
            font-family:'Ubuntu Mono', monospace;
        }
        
    }
}