#show-component {

    display: flex;
    align-items: center;

    .header{

        display: flex;
        flex-direction: column;
       
        height: 280px;
        width: 100%;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #FF4040;
        
        h1{
            font-family: 'Ubuntu Mono', monospace;
            color: white;
            text-transform: uppercase;
        }
        #poke-image{

            display: flex;
            flex-direction: row;
            justify-content: center;
        
            img{
                width: 200px;
            }
        }
        .poke-info{

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;

            p{
                color: white;
                font-family: 'Ubuntu Mono', monospace;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
}