#show-component {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 18px;


    .poke-name{
        h2{
            font-weight: 400;
        }
    }
    .poke-ilustration{
        border-radius: 50%;
    }
}